<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data driven basics">
	<test thread-count="5" name="Login Test">
		<classes>
			<class name="com.framework.testcases.MinervaLoginPage" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Reset password Test">
		<classes>
			<class name="com.framework.testcases.ResetPasswordPage" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Home page Test">
		<classes>
			<class name="com.framework.testcases.MinervaHomePage" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
